In [1]:
# Requirements
import pandas as pd
from geopy.geocoders import Nominatim
import time
import folium
from folium.plugins import AntPath
from IPython.display import display, clear_output
import ipywidgets as widgets
import requests

In [25]:
# Importing data

# All Countries
path_top = "https://raw.githubusercontent.com/a-sofia-p/textile/refs/heads/main/Data/worn_clothing_exports/Top_exporters.csv"
df_top_exporters = pd.read_csv(path_top)
df_top_exporters = pd.read_csv(path_top)
df_top_exporters.index += 1

In [27]:
df_top_exporters

,Year,r1_country,r1_quantity,r2_country,r2_quantity,r3_country,r3_quantity,r4_country,r4_uantity,r5_country,r5_quantity
1,2015,United States of America,"718,597",Germany,"535,638",United Kingdom,"351,179","Korea, Republic of","284,606",Japan,"246,124"
2,2016,United States of America,"753,882",Germany,"521,468",United Kingdom,"352,959","Korea, Republic of","277,630",Japan,"239,277"
3,2017,United States of America,"788,404",Germany,"512,375","Korea, Republic of","323,388",United Kingdom,"370,204",China,"241,466"
4,2018,United States of America,"756,380",Germany,"516,974","Korea, Republic of","325,035",United Kingdom,"395,209",China,"294,100"
5,2019,United States of America,"765,872",Germany,"532,639","Korea, Republic of","327,448",China,"338,214",Japan,"260,057"
6,2020,United States of America,"621,784",Germany,"492,652",China,"290,700","Korea, Republic of","298,155",United Kingdom,"292,646"
7,2021,China,"440,048",United States of America,"724,670",Germany,"518,126",United Kingdom,"357,741","Korea, Republic of","335,804"
8,2022,China,"603,666",United States of America,"720,125",Germany,"480,955",United Kingdom,"416,763","Korea, Republic of","301,376"
9,2023,China,"762,057",United States of America,"687,561",Germany,"452,091",United Kingdom,"419,705","Korea, Republic of","295,494"
10,2024,China,"1,148,954",United States of America,"672,909",Germany,"437,537",United Kingdom,"430,732","Korea, Republic of","305,779"